<div class="container mt-5">
    <div class="card shadow-lg rounded-4">
      <div class="card-body p-4">
        <h2 class="card-title text-center mb-4">Create a New Task</h2>
  
        <form (ngSubmit)="onSubmit()" #taskForm="ngForm">
          <label class="form-label w-100">
            Title:
            <input type="text" [(ngModel)]="task.title" name="title" required class="form-control mt-1" />
          </label>
  
          <br />
  
          <label class="form-label w-100 mt-3">
            Category:
            <input type="text" [(ngModel)]="task.category" name="category" required class="form-control mt-1" />
          </label>
  
          <br />
  
          <label class="form-label w-100 mt-3">
            Priority:
            <select [(ngModel)]="task.priority" name="priority" class="form-select mt-1">
              <option>High</option>
              <option>Medium</option>
              <option>Low</option>
            </select>
          </label>
  
          <br />
  
          <label class="form-check mt-3">
            <input type="checkbox" [(ngModel)]="task.completed" name="completed" class="form-check-input" />
            <span class="form-check-label ms-2">Completed</span>
          </label>
  
          <br />
  
          <button type="submit" [disabled]="taskForm.invalid" class="btn btn-primary w-100 mt-4">Create Task</button>
        </form>
      </div>
    </div>
  </div>
  